In [1]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16))

4.0

In [4]:
#2.Find the error in the following Python code:
def my_function(x):
    x += 5
    print(x)
my_function(10)

15

In [6]:
#3.x = 5
if x == 10:
    print("x is 10")

x is 10

In [8]:
#4.
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [15]:
#5.
def square(n):
    print(n**2)

square(4)

16

In [22]:
#6.
my_tuple = [1, 2, 3]
my_tuple[1] = 5
print(my_tuple)

[1, 5, 3]

In [23]:
#7.
name = "Alice"
age = 25
print("My name is",name, "and I am",age,"years old")

My name is Alice and I am 25 years old

In [24]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [28]:
#9.
for i in range(1, 5):
    print(i)

1
2
3
4

In [29]:
#10.
student = {"name": "John", "age": 20}
print(student["name"])

John